<canvas id="myChart"></canvas>

<table id="data_table" class="display" style="width:100%">
    <thead>
        <th>Broker</th>
        <th>Listing Month</th>
        <th>Listing Date</th>
        <th>Listing ID</th>
        <th>Revenue</th>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td class="broker">{{this.broker}}</td>
            <td class="listing_month">
                {{this.listing_month}}
            </td>
            <td class="listing_date">
                {{this.listing_date}}
            </td>
            <td class="listing_id">
                {{this.id}}
            </td>
            <td class="revenue">
                {{this.revenue}}
            </td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <th>Broker</th>
        <th>Listing Month</th>
        <th>Listing Date</th>
        <th>Listing ID</th>
        <th>Revenue</th>
    </tfoot>
</table>